// google fonts
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");

// variables
$plus-jakarta-sans: "Plus Jakarta Sans";

// templates
%container-base-params {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  border: 1px solid red;
}

%flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// START header

.header-container {
  @extend %container-base-params;
  @extend %flex-between;
  height: 120px;

  .logo-link {
    width: 115px;
    height: 35px;
    transition: 0.5s;
    &:hover {
      transform: scale(1.1);
    }
  }

  div {
    @extend %flex-between;
    color: #212832;
    flex-basis: 70%;

    nav {
      width: 100%;

      ul {
        @extend %flex-between;
        text-decoration: none;
        font-family: $plus-jakarta-sans;

        li {
          font-size: 17px;
          font-style: normal;
          line-height: normal;

          a {
            text-decoration: none;
            font-weight: 600;
            transition: all 0.3s;

            &.header-link {
              overflow: hidden;
              display: flex;
              position: relative;
              padding: 5px;

              &:hover .header-link__line--top {
                left: 15%;
                transition: all 0.3s ease-out;
              }

              &:hover .header-link__line--bottom {
                right: 15%;
                transition: all 0.3s;
              }
            }

            span {
              &.header-link__line {
                position: absolute;
                display: block;
              }
            }

            span {
              &.header-link__line--top {
                top: 0;
                left: -100%;
                width: 100%;
                height: 2px;
                background-color: rgb(250, 151, 3);
              }

              &.header-link__line--bottom {
                bottom: 0;
                right: -100%;
                width: 100%;
                height: 2px;
                background-color: rgb(250, 151, 3);
              }
            }
          }
        }

        li a.header-button {
          display: block;
          padding: 10px 20px;
          border: 2px solid rgb(0, 0, 0, 0.6);
          border-radius: 7px;
          transition: all 0.3s ease-out;

          &:hover {
            border: 2px solid rgb(0, 0, 0, 0);
            background-color: rgb(0, 0, 0, 0.7);
            color: rgb(250, 151, 3);
          }
        }
      }
    }

    select {
      border: none;
      outline: none;
      font-family: $plus-jakarta-sans;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}

// END header
