.card {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    &__header {
        margin-bottom: 40px;
        display: block;
        font-size: 24px;
        font-family: $base_font;
        text-align: center;
    }

    &__body {
        //
    }
}
