@include laptop {
    .banner-section {
        .description {
            h1 {
                font-size: 16px;
                width: 450px;
                text-shadow: 0 0 5px white;
            }

            h2 {
                font-size: 65px;
                font-weight: 600;
                line-height: 70px;
                width: 450px;
                padding-top: 2%;
                text-shadow: 0 0 10px white;
            }

            .banner-paragraph {
                max-width: 420px;
                background-color: #fff;
                border-radius: 0 15px 15px 0;
                opacity: 0.8;

                p {
                    color: $tw_gray_800;
                    font-size: 14px;
                    padding-right: 10px;
                    max-width: 420px;
                }
            }
        }

        .description {
            .group-button {
                a {
                    margin-left: -10px;
                    transform: scale(0.9);

                    &:hover {
                        transform: scale(0.95);
                    }
                }

                .play-button {
                    background: #fff;
                    margin-left: 25px;
                    padding: 10px;
                    border-radius: 15px;
                    transform: scale(0.8);
                    color: $tw_gray_800;
                    opacity: 0.8;

                    &:hover {
                        transform: scale(0.85);
                    }

                    svg {
                        margin-right: 15px;
                    }
                }
            }
        }

        .banner-bg-image {
            top: -14%;

            .airplane_1 {
                top: 6%;
                left: 20%;
            }

            .airplane_2 {
                top: 17%;
                right: 0%;
            }
        }
    }
}
