.banner-section {
  @extend %container_base_styles;
  position: relative;

  .description {
    display: flex;
    flex-direction: column;
    z-index: 20;
    margin: 8% 0 10% 0;

    h1 {
      color: $tw_orange_600;
      font-family: $base_font;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      width: 410px;
    }

    h2 {
      color: $tw_gray_800;
      font-family: $h2_font;
      font-size: 84px;
      font-style: normal;
      font-weight: 700;
      line-height: 89px;
      letter-spacing: -3.36px;
      width: 545px;
      padding-top: 2%;
    }

    p {
      color: $tw_gray_500;
      font-family: $base_font;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
      width: 477px;
      padding-top: 2%;
    }

    .group-button {
      display: flex;
      align-items: center;
      padding-top: 3%;

      a {
        color: white;
        font-family: $header_font;
        text-decoration: none;
        background-color: $tw_amber_500;
        opacity: 0.9;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 18px 28px;
        border-radius: 12px;
        transition: all 200ms;

        &:hover {
          background-color: #f97316;
          opacity: 0.9;
          transform: scale(1.05);
        }
      }

      .play-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        margin-left: 45px;
        border: none;
        font-family: $base_font;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: $tw_gray_500;
        transition: 200ms;

        &:hover {
          transform: scale(1.05);
        }

        svg {
          margin-right: 22px;
        }
      }
    }
  }

  .banner-bg-image {
    position: absolute;
    top: -16%;
    right: 0;
    z-index: -10;

    .airplane_1 {
      position: absolute;
      top: 7%;
      left: 18%;
      z-index: -20;
    }

    .airplane_2 {
      position: absolute;
      top: 16%;
      right: -0.5%;
      z-index: -20;
    }

    .traveller-image {
    }
  }
}
