// fonts
$header_font: "Plus Jakarta Sans", sans-serif;
$base_font: "Poppins", sans-serif;
$h2_font: "Volkhov", serif;
$open_sans: "Open Sans", sans-serif;

// others
$content_width: 1200px;

// breakpoints
$breakpoint_lg: 1024px;
$breakpoint_md: 770px;
$breakpoint_sm: 450px;

// colors
$tw_orange_600: #ea580c;
$tw_amber_500: #f59e0b;
$tw_gray_800: #1f2937;
$tw_gray_700: #374151;
$tw_gray_600: #4b5563;
$tw_gray_500: #6b7280;
$tw_gray_100: #f3f4f6;

$bg_for_category_image: #fff1da;
