@include laptop {
  .header-container {
    height: 90px;

    div {
      flex-basis: 75%;
      nav ul {
        li {
          font-size: 15px;
          font-weight: 500;

          & a.header-link {
            padding: 3px;
          }

          & a.header-button {
            padding: 6px 10px;
          }
        }
      }

      select {
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
}
